body {
  font-family: 'Open Sans', sans-serif;
  background: #F7F9FC;
  font-size: 16px;
  color: #575F7D;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px;
}

h2 {
  font-size: 1.2em;
  color: #7ECE90;
}

.container {
  text-align: center;
  margin: 40px auto;
}

.card-white {
  background-color: white;
  margin: 20px auto;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  padding: 40px;
}

#card-welcome p {
  margin: 20px 10px 40px 10px;
}

#profile-image {
  background: center no-repeat url(images/julien.png);
  background-size: 150px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding: 0px;
}

.list-inline li {
  display: inline;
  margin: 10px;
}

.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}

.btn-blue {
  background-color: #6B71E1;
  color: white;
  padding: 15px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
}

.btn-blue:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  h1 {
    font-size: 1.5em;
  }
}
